/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# build
!app/phpmd.xml
!app/parallel-phpmd.xml
!app/phpunit.xml
!app/parallel-phpunit.xml
!app/parallel-phpdox.xml
/app/build/*
.php_cs.cache

/vendor/
/bin/
.idea
